[2019-04-16 06:02] leedstyh opened #1 "What's the license and rate limit"
Hi, nice API.

And that's the license and rate limit about this API?

And also historical price is very helpful, but why volume is missing. I think providing OHLCV data is better.

[2019-04-16 06:38] antoinevulcain commented on #1
Hi,

Thanks, there are no limit on the number of API requests per day.

You are right OHLCV data would be a good idea. In collaboration with the tech team we will implement it.

Thanks a lot for the feedbacks.

[2019-04-18 12:31] leedstyh commented on #1
Thanks @antoinevulcain

[2019-04-18 12:31] #1 closed

[2019-06-29 09:56] suraj-kawale-au2 opened #2 "Is Cross-domain access enabled."
![image](https://user-images.githubusercontent.com/13823258/60382528-ce0e1980-9a81-11e9-8ef5-4584b9f95ba7.png)
Nice api.
I have been using it for my Bootcamp project to build a stock portfolio app.  It worked fine before but since yesterday it starts giving me CORS error and I have to specify some headers.

Here is a sample program I am trying to create: https://repl.it/@surajk202/market.

[2019-06-29 18:41] financialmodellingprep commented on #2
Hello Suraj,

Can you try this code and see if you have the CORS issue?

https://jsfiddle.net/Financialmodelingprep/h54o01r2/

[2019-06-29 19:41] suraj-kawale-au2 commented on #2
Thanks for reverting back.
I see in your code u used `crossDomain: true`. Even I also used it. But still, it was showing CORS error yesterday. But today it didn't show any CORS error and API calls worked awesomely. Is there are some restrictions on the number of calls? Because yesterday I made too many calls maybe it was showing so.

[2019-06-29 21:12] financialmodellingprep commented on #2
We don't but our host provider has some DDos algorithm that protects our infrastructure they have been triggered.
We have discussed with them and now everything should work properly.
If you have any other issues let us know and we will do the necessary to solve them.

[2019-06-29 21:23] suraj-kawale-au2 commented on #2
Ok. That's why maybe those errors appeared. Thanks a lot for reverting back and providing a great API for developers out there.

[2019-06-29 21:24] #2 closed

[2019-07-05 09:15] suraj-kawale-au2 opened #3 "Getting ERR_INCOMPLETE_CHUNKED_ENCODING error while requesting."
![image](https://user-images.githubusercontent.com/13823258/60711746-2a19e780-9f33-11e9-9cee-71998da5bfb8.png)
I am getting this error from last night when I am requesting on this API : https://financialmodelingprep.com/api/v3/company/stock/list

How many requests is allowed in a day?

[2019-07-05 09:31] financialmodellingprep commented on #3
Hello,

Could you try now?

you can do 5 requests per second, with a burst of 15, which is equivalent to 432,000 requests/day or 12,960,000 requests per month,

let us know if the endpoint is working now,

Best

[2019-07-05 13:31] suraj-kawale-au2 commented on #3
Thanks, It works now. But still, there is some CORS error after certain amount request.
![image](https://user-images.githubusercontent.com/13823258/60725592-1da78600-9f57-11e9-8d06-a20cab5b5102.png)

[2019-07-05 18:34] financialmodellingprep commented on #3
Hello,

The error status (503) means that the amount of requests exceeded the number of allowed requests per second.

Are you doing more than 5 requests per second?

Could you console.log the time at each request so we can see if it exceeds the amount.

Best,

[2019-07-11 07:22] suraj-kawale-au2 commented on #3
Hey,
I have using the API in a for loop to construct a data in table format. I'll use some another approach. Thanks for reverting.

[2019-07-11 13:34] suraj-kawale-au2 commented on #3
Now when I used recursion to create a ticker and making 1 request per second to an api. It shows like this.
![image](https://user-images.githubusercontent.com/13823258/61055178-8cc92280-a40e-11e9-9e96-fe1155b9ee26.png)
Here is the code:- https://repl.it/@surajk202/ticker-1
Actually, I am creating a stock project for learning sake. I have no intention of earning from it.

[2019-07-11 14:47] financialmodellingprep commented on #3
Could you try now? We increased server timeout response time. It should work now

[2019-07-11 14:58] suraj-kawale-au2 commented on #3
Yes, It works now. Thanks a lot again for the support and reverting back. I have reduced calls myself so other serious users of API doesn't fall into trouble.

[2019-07-11 16:32] financialmodellingprep commented on #3
Happy that it works let us know if you have any problems in the future it is always a pleasure to help

[2019-07-11 17:42] #3 closed

[2019-08-29 16:06] ps12345678 opened #4 "Global company data"
Hey how do you get financial statements for companies that are not listed in US.  Here is an example on yahoo finance for a company called L'oreal https://finance.yahoo.com/quote/OR.PA/financials?p=OR.PA&.tsrc=fin-srch

[2019-09-01 07:04] antoinevulcain commented on #4
Hello,

We do not cover Euronext stocks for now, but we are implementing them,

It should be available very soon.

[2019-09-15 11:50] Cytosan opened #5 "Inconsistant Data"
Hi, I found that some of your data has some issue:
1) inconsistent value when compare from different endpoints
2) value pair doesn't matched/add up to the value calculated manually from other value pair.

For example:
1) the market cap for PG is given in the company's profile endpoint but in the enterprise value endpoint, it is 0.
2) for the balance sheet endpoint for BABA, the total asset and/or

[2019-09-16 08:48] antoinevulcain commented on #5
Hello,

We are currently reviewing the data, thanks for pointing our this issue

[2019-09-26 14:51] Sbirch556 opened #6 "R package"
The data from the API appears to be very similar to data I used to fetch via the morningstar API...However as of March Morningstar has updated their api which has stopped developers from being able to freely fetch data via some js function to export csv's.

That being said will this API be consistently updated? If this data is being fetched from Morningstar I assume you must be using selenium or s

[2019-09-27 08:19] financialmodellingprep commented on #6
This API will be consistently updated, we use [EDGAR](https://www.sec.gov/edgar/searchedgar/accessing-edgar-data.htm) Data  that we consolidate every month.

We are open to developers and creating an R package would be really good for other developers. Let us know if you need any help and also if you can share your package with us so we can feature it on our website.

Best,

FMP Team

[2019-09-28 02:54] Sbirch556 commented on #6
Awesome glad to hear, I'll be sure to share the package.

[2019-10-05 21:24] muziofg opened #7 "Specifying the nature of ticker symbols"
Specifying the nature of ticker symbols

The list of all ticker symbol supported ( https://financialmodellingprep.com/api/v3/company/stock/list ) is useful, but can be more useful

The data provided should contains information about the market exchange (example: NYSE, NASDAQ) and the type of financial instrument (example: distinguish between ETF and share)

[2019-10-05 21:31] muziofg commented on #5
I've found some incongruency between EPS data provided here ( https://financialmodellingprep.com/api/v3/financials/income-statement/GME?period=quarter ) and other sources (like nasdaq website and yahoo finance)
For some ticker symbols EPS data (quarterly reported) are wrong (example: GME, AMD, X)

[2019-10-06 16:07] antoinevulcain commented on #7
Very good idea, we will implement it

[2019-10-27 20:17] trbutler opened #8 "Day to Day Change"
Is there a simple way to determine how much a stock price has changed (just day-over-day) without downloading the full historical report that may go back decades?

[2019-10-28 09:51] antoinevulcain commented on #8
If I understand you just want the stock price change from the last day? You could use this endpoint: `[https://financialmodelingprep.com/api/v3/historical-price-full/AAPL?timeseries=2](https://financialmodelingprep.com/api/v3/historical-price-full/AAPL?timeseries=2)` it would show you only the change for the past day

[2019-10-28 22:55] trbutler commented on #8
Thank you! Is there a way to do that while also getting the current price in the same query? E.g. so it can be parsed to report the amount change of price over the previous close. (For example, with AAPL, it is up $2.47 today over its previous close; the "profile" API's "change" information seems to be referring to something else.) I could do that by using the query you gave and the "realtime" que

[2019-10-29 20:48] antoinevulcain commented on #8
Yes for sure I just created an endpoint for that here is the link:

[https://financialmodelingprep.com/api/v3/stock/real-time-price-full/AAPL](https://financialmodelingprep.com/api/v3/stock/real-time-price-full/AAPL)

So you can have the data in a single query

[2019-11-03 14:27] legout opened #9 "Dividends, stock splits and/or adjusted close"
Hello,

thanks for creating this api and providing all this data for free!

However, to use this data for backtesting financial models, I am missing dividends, stock splits and/or stock prices adjusted by dividends and stock splits. Is it be possible to get this data somehow?

Regards,
legout

[2019-11-03 22:01] antoinevulcain commented on #9
We have that data, we are just testing that it is accurate and reliable it should be available very soon
We will expose the new endpoints as soon as it’s ready

[2019-11-09 19:02] muziofg commented on #8
Very useful endpoint, especially the versione without ticker who listing all. Seems more reliable than gainers/losers endpoint to fetch that data.

I report you a bug:
changePercentage field is wrongly calculated over today price.
the formula used is: (100 * change) / price
but the correct formula must be: (100 * change) / (price - change)

Example who explain the bug (moreover, the symbol no long

[2019-11-10 21:40] navkast opened #10 "Monetization plans?"
Antoine / Mark,

I'm totally amazed that this is free. Thank you for that. It saves me a huge amount of time from parsing XBRL. Do you have any plans on adding paid service tiers?

Cheers!

[2019-11-11 16:00] antoinevulcain commented on #10
Hello Naveen,

Not for now we are just working to improve our API to make it more complete and accurate and add new data and exchange rate,

Here are some new endpoints that we have just finished, there are beta but we changed the keys for camel case convention and add some fields in the cash flow statement:

https://financialmodelingprep.com/api/v3.1/financials/income-statement/AAPL

https://fina

[2019-11-12 12:55] navkast commented on #10
OK thanks. Let me know if I can help.

[2019-11-12 12:55] #10 closed

[2019-11-12 13:04] navkast opened #11 "v3.1 beta financials endpoints issues"
Please let me know if you prefer a different approach (emails, ticketing system, etc) for issue tracking. **You can also tell me to go away!** I don't want to be rude or bother your work.

Otherwise, I was hoping this could be an ongoing list of bugs for the 3.1 endpoint you mentioned in #10. I know it's beta so maybe my testing could help.

The end point sends a 200 with the following body:
[code

[2019-11-13 18:03] sushantbela opened #12 "Historical Data of at least 25 years"
Hello,

This API is really great to analyze the data. We are taking a reference to this data for our capstone project. But we can see that data for the balance sheet, income statement and cash flow statement are available since the year 2009. Is it possible to avail of these data at least for 25 years?

[2019-11-15 23:27] antoinevulcain commented on #5
We have fixed most of the EPS quarter values let us know if you find any other inconsistants data

[2019-11-20 08:06] sushantbela opened #13 "Updating annual financial results"
Hello,
Could you please let us know when by when you update the balance sheet, cash flow statement, income statement, financial growth and financial ratio statement, once the company announces its annual result?
Also, we want to know whether you update the info for all the companies every time it announces the results?

[2019-11-23 14:51] antoinevulcain commented on #13
Sure we are implementing an endpoint to give the lasted update per company

[2019-11-23 16:32] antoinevulcain commented on #11
here is the body that we created for this type of request 👍
{
  "error" : "No content for this symbol . Please retry or visit the documentation (https://financialmodelingprep.com/developer/docs/) for more options.",
  "message" : "Contact info@financialmodelingprep.com for more details"
}

example:
[https://financialmodelingprep.com/api/v3.1/financials/income-statement/SPY](https://financialmodeli

[2019-11-24 22:32] muziofg commented on #5
I'm sorry for my delayed reply
I've checked it and seems ok now, but these data are not updated frequently (at least daily)

I have noticed that EPS reported by other source are not always "GAAP", instead your data is based on edgar's 10-Q documents. This explain my misgiving about data discrepancy.

Also, EPS data must be returned recomputed over stock's (reverse) splits (example for AAPL)

[2019-11-26 18:30] ebeldner opened #14 "Text formatting issue with Balance Sheet CSV PP&E Line"
In the CSV file format for Balance Sheets, the PP&E line has a textual formatting issue that causes the line title ("Property Plant & Equipment") to get split across 2 cells when opened by Google Sheets or Excel.

As formatted in CSV file:
`Property," Plant & Equipment Net"`

Screenshot of effect when opened in Google Sheets:
<img width="1133" alt="Screen Shot 2019-11-26 at 10 28 25 AM" src="https

[2019-12-16 17:28] giotiskl commented on #5
@antoinevulcain first of all good job on the API.

I just wanted to mention that I've also noticed some data inconsistency with other sources in financial statements that you might want to cross-check.
e.g. free cash flow for AAPL from yahoo finance (https://finance.yahoo.com/quote/AAPL/cash-flow?p=AAPL) as compared to the API's data (https://financialmodelingprep.com/api/v3/financials/cash-flow-s

[2019-12-17 15:19] Cytosan commented on #5
I also found that data returned by the API is different for BRK.A and BRK.B, like revenue, profit, cash, accounts payable, etc.
Shouldn't they be the same since they are just different share class but are still of the same company?

[2019-12-18 12:37] antoinevulcain commented on #5
@Cytosan Yes it should, looking to see what happened

@giotiskl thanks for the feedback looking into it now

[2019-12-23 20:09] muziofg opened #15 "distinguish between report and reference date for 10-Q data"
data obtained by the endpoint defined at

https://financialmodellingprep.com/api/v3.1/financials/income-statement/x?period=quarter

return a "date" field, but this data is related to a 10-Q document that has two important dates: I can call these "reference date" and "report date"

"reference date" is the the date conatined in your "date" field which means the date that coincides with the end of th

[2019-12-23 20:32] antoinevulcain commented on #15
Hello @muziofg ,

yes exactly,

We are patching the data, we are redoing the whole 10-Q because sometimes its 6 months end date and sometimes its a 3 months ended period,

By the end of the holidays it will be pathed and fully accurate.

Thanks again for sharing the your findings,

Best,

[2019-12-29 09:01] nonpcnpc commented on #5
data inconsistency is nothing new. i see this all the time when i am comparing yahoo financne, market watch, macrotrends... dont know why this is happening but it is. i think in the end the important thing is to keep using the same source for the data in order to get the same realtive results when comparing data.

[2019-12-30 13:14] nonpcnpc commented on #13
I have noticed that some companies have their quarterly statements quite outdated. For example TGB has only march 2019, with june and september missing.

[2019-12-30 13:24] nonpcnpc opened #16 "API issues"
I spend some good hours implementing the api in Go and I have found some issues with the formatting.

- The enterprise value uses floats directly, whereas the rest of the api uses floats as strings.
- Field names are human-readable, which makes them look qutie weird when there are abbrevations or words are cut out due to their length. This should be simplified and made into snake case.
- Some fiel

[2019-12-30 15:30] antoinevulcain commented on #16
@nonpcnpc  thanks for all the comments, we are working on it

[2019-12-31 02:41] nonpcnpc opened #17 "Quarterly data are missing even if annual are present"
The annual financial data go further than the quarterly data.
For example TGB's annual data go back to 2009, yet quarterly data go back only to 3/18.

https://financialmodelingprep.com/api/v3/financials/income-statement/TGB
https://financialmodelingprep.com/api/v3/financials/income-statement/TGB?period=quarter

[2019-12-31 09:43] nonpcnpc opened #18 "Add currency and exchange rate information"
Some traded companies do not use the stock market's currency(ie. USD, CAD, GBP) in their financial which makes calculations very problematic. For example VEDL on NYSE will always have its stock price lised in USD because NYSE is American stock exchange, but the financials will be in INR because VEDL is an Indian company. So it would be very helpful if the company profile would have the currency co

[2019-12-31 17:02] nicolasfou commented on #18
Thanks for the insight. We are aware of this issue, Foreign US companies don't respect XBRL filling standards making them difficult to parse for us. the submission format for none US companies follow 40-F and 6-F fillings standards (different from 10-Q and 10-K) with different extension files.

[2019-12-31 17:08] nicolasfou commented on #17
Hello, the problem comes from the filling standards asked by SEC for non US companies. In this specific case it's normal because the 10-K equivalent filling contains XBRL files (pres, calc etc...) but the 10-Q equivalent filling are in  htm or txt format and the parser doesn't support this file types. Actually we are working on new parsers for this specific use case but also for pdf file.

[2020-01-04 15:26] nonpcnpc commented on #17
Maybe you could share the source socdes here so more people can help out(I do GO these days)?

[2020-01-05 21:21] antoinevulcain commented on #17
Sure We are mainly in JAVA, as soon as we clean up the source code we make it open source

[2020-01-07 16:35] ghost opened #19 "Use CDN"
Since 99% of the api data is static, use of CDN should greatly improve the performance of the entire api. I am not a fan of CloudFlare but since your website is free, you can use their free tier that provides free cdn for files up to 100MB, each. Hence it should be only a matter of setting up the DNS with them and enabling caching.

[2020-01-19 19:21] antoinevulcain commented on #9
https://financialmodelingprep.com/api/v3/historical-price-full/stock_dividend/AAPL

https://financialmodelingprep.com/api/v3/historical-price-full/stock_dividend/AAPL

[2020-01-19 19:24] antoinevulcain commented on #8
Here are a better endpoint for a real time change:

https://financialmodelingprep.com/api/v3/quote/AAPL,FB,GOOG,MSFT

[2020-01-19 20:12] muziofg commented on #8
very good endpoint !
can you add "open" and "prevClose" fields to provide the open value of the day and the previous close value ?
Also a timestamp related to the current price could be useful to debugging purpose

[2020-01-19 20:38] antoinevulcain commented on #8
@muziofg  Yes for the open and prevClose it should be possible, I look into it, could you explain more the timestamp that you need for the current price?

[2020-01-19 20:53] muziofg commented on #8
an unequivocal timestamp, it can be a UNIX timestamp or a formatted date-time information like the standard "ISO 8601"

[2020-01-20 06:03] legout commented on #9
Great news! Thanks.

[2020-01-21 21:19] antoinevulcain commented on #8
@muziofg  I added open, prevClose, timestamp in UNIX format, I also added EPS, PE , earningsAnnouncement and sharesOutstanding.

[2020-01-21 21:43] antoinevulcain commented on #7
@muziofg just added the exchange property you can now see what type of exchange the ticker belongs to

[2020-01-21 22:33] muziofg commented on #8
ok, this endpoint is very close to the perfection
it's a very good work

A question: how many ticker can add for a single query?

It has two bugs:
- no data for the ticker SPCE (virgin galactic) https://financialmodelingprep.com/api/v3/quote/SPCE
- if no "earningsAnnouncement" exists yet for the future is correct to provide the last from the past? example: https://financialmodelingprep.com/api/v3/

[2020-01-21 23:11] antoinevulcain commented on #8
@muziofg good point we will update the ticker list, SELB is a very recent stock that's why.

we decided to put the most recent earningsAnnouncement for developer to match the last 10-k / 10-q available on the API

For the number of ticker you can add for a sigle query their is no limitation yet

[2020-01-28 19:34] heathweiss commented on #4
Is the TSX coming as well, and is there anything I can do to help it along?

[2020-01-28 21:44] antoinevulcain commented on #4
@heathweiss we have a small problem with TSX SEDAR website is not like EDGARD they have recaptcha we can share a repo and work together with our team in a repo if you want.

[2020-02-09 20:04] antoinevulcain commented on #5
@giotiskl what we do is for the capital expenditures: investments in ppe
So for the free cash flow: operating cash flow - capital expenditures
this is why you have this value. we didn't take into account payment for acquisition of intangible assets.
we will patch this during this week by adding it to the capital expenditures.

[2020-02-11 11:07] #9 closed

[2020-02-11 11:23] antoinevulcain commented on #8
@muziofg so for the SELB you can now found it in the quote endpoint and historical endpoint:

https://financialmodelingprep.com/api/v3/quote/SELB

https://financialmodelingprep.com/api/v3/historical-price-full/SELB

We have now every 15 minutes a CRON running to check every new stock on every stock exchange and we automatically add it in the quote endpoint and add its historical data.

So now ever

[2020-02-11 11:31] #7 closed

[2020-02-11 11:37] #11 closed

[2020-02-11 13:32] antoinevulcain commented on #19
Done

[2020-02-11 20:56] muziofg commented on #8
good improvements!

but on change & changePercent/changePercentage fields I've some perplexity.

change value reported by https://financialmodelingprep.com/api/v3/quote/SELB is the difference between close and previous close values, that is what expected

change value reported by https://financialmodelingprep.com/api/v3/historical-price-full/SELB is the difference bewteen open and close values on

[2020-02-11 21:17] antoinevulcain commented on #8
@muziofg nice I see, you right.

Working on it now

[2020-02-13 15:41] antoinevulcain commented on #14
@ebeldner It's corrected

[2020-02-13 15:51] #19 closed

[2020-02-13 16:31] mksamelson opened #20 "Standardized vs. As Reported Data"
Hi,

Is the fundamental data standardized, as-reported, or are both available?

If data is restated is that indicated and if so is the original reported data available?

Thanks

[2020-02-13 17:12] antoinevulcain commented on #20
Hi @mksamelson ,

The data is standardized meaning: when we have the value as reported in the 10-K or 10-Q in the SEC filing we fill it, when we don't we calculated it, example:
GoodWill and intangible assets:

In the SEC 10-Q xbrl tag: us-gaap_Goodwill
Then we add up the intangibles assets if there are so we match our variable name.

For the Revenue Growth we make the calcul ourselves : R1 - R0 /

[2020-02-14 00:46] mksamelson commented on #20
If data is restated is that indicated and if so is the original reported data available?

[2020-02-14 23:50] tarkah opened #21 "Intraday Prices"
Thanks for this great resource! Any chance at adding an endpoint to get intraday prices on a stock?

[2020-02-14 23:51] antoinevulcain commented on #21
@tarkah working on it at the moment should be ready soon

[2020-02-14 23:55] antoinevulcain commented on #20
@mksamelson the data is restated to match the output json we are developing an as-reported endpoint with all xbrl tags.

We follow this guideline for all our calculations:

https://xbrl.us/wp-content/uploads/2015/03/PreparersGuide.pdf

[2020-02-14 23:58] antoinevulcain commented on #21
For now I am doing 1m 5m 15m 1hr

[2020-02-15 00:23] tarkah commented on #21
Awesome! Those are perfect. Thanks so much!

[2020-02-15 18:24] TheEpicBigBoss opened #22 "ISIN for symbol lists"
First, thanks for this great API. Using it since a few months.

Is it possible to add the ISIN (International Securities Identification Number) to the symbol list endpoints?
Especially to https://financialmodelingprep.com/api/v3/company/stock/list but also to stocks from the other exchanges / funds / ETFs ....

[2020-02-15 21:47] antoinevulcain commented on #22
@TheEpicBigBoss Sure I'm looking into it

[2020-02-18 20:23] antoinevulcain commented on #14
https://financialmodelingprep.com/api/v3/financials/balance-sheet-statement/AAPL?period=quarter&datatype=csv

[2020-02-18 20:23] #14 closed

[2020-02-20 18:46] tarkah commented on #21
A little teaser of the TUI app I'm working on to monitor prices in the console using your API... 3M to 5Y time frames look awesome with the number of datapoints available. Once intraday is available, I can populate 1D, 1W and 1M nice as well!

![Code_2020-02-20_10-38-35](https://user-images.githubusercontent.com/10239377/74967410-c236e500-53cd-11ea-82f2-519419fc41b9.png)

[2020-02-20 21:36] antoinevulcain commented on #21
@tarkah impressive!
Could you give me some precision:
1 minutes chart how long do you need to go back to?
same question for 5min and 15min and 1hr
example 1 minutes -> 4 hours / 5min -> x hours

[2020-02-20 22:05] tarkah commented on #21
For my project, I'd like to have at least 100 data points for each time frame. Historical / daily is fine for 6M+.  For 1 - 3 month time frames, at least 60min intraday gives me enough data points. For 1 month back, at least 15 min intraday. For 1 week back, at least 5min intraday. And for 1 day back, I'd like to have 1min intraday.

Is that helpful?

[2020-02-20 22:30] antoinevulcain commented on #21
100 data points for each time frame is what I needed so for example:
for 1 minutes:
start: 11:28:00 end: 21:48:00
-> 11:28:00 | 11:27:00 | 11:26:00 | ... | 21:48:00
right?

[2020-02-20 22:49] tarkah commented on #21
For time frame, I meant in the context of my app

1D time frame in my app is one day (current day) and I want to get the ENTIRE day at 1 min precision to display a graph for, having the whole day available regardless of when the app is opened. Today would be 2020-02-20 09:30:00 to 2020-02-20 04:00:00 in 1 min precision.

1W is on week as of today, I want to get the ENTIRE week at 5 or 15 min preci

[2020-02-21 13:32] mksamelson opened #23 "Adjusted Close Prices for US Securities"
Hi,

Are these split adjusted, dividend adjusted, or both?  Any chance of getting them from further back than 2015?  Are you calculating them or deriving them from somewhere where they are pre-calculated?

[2020-02-21 22:17] muziofg commented on #7
I'm sorry, arrived too late for adding more comments.

I'm not sure about the meaningfulness of "exchange" and "exchangeShortName" labels if you use them to determine the nature of a ticker; equities are equities regardless of the stock exchange that are available (example: NYSE, NASDAQ or AMEX)

Also, the if the endpoint https://financialmodellingprep.com/api/v3/company/stock/list contain only ti

[2020-02-22 21:29] muziofg commented on #7
Also, The endpoint https://financialmodellingprep.com/api/v3/company/stock/list must be updated to remove delisted company like NFX, ARRY or renamed like IPOA (now SPCE)

you can check old tickers with a mechanism like the CRON job described here https://github.com/antoinevulcain/Financial-Modeling-Prep-API/issues/8#issuecomment-584589926 ?

[2020-02-22 21:56] TheEpicBigBoss commented on #7
Maybe these delisted companys should be moved to another endpoint so that they don't get completely removed because the historical data should be still available even if they are not active any more.

[2020-02-23 21:49] antoinevulcain commented on #23
@mksamelson you can get them from beyond 2015:

https://financialmodelingprep.com/api/v3/historical-price-full/stock_dividend/AAPL

https://financialmodelingprep.com/api/v3/historical-price-full/stock_split/AAPL

The split and dividend are not adjusted, the historical data prices however have a property called adjClose where the close is adjusted to reflect the change.

[2020-02-23 21:52] antoinevulcain commented on #7
@muziofg yes, we will update it and also create a new endpoint with the delisted ones.

@TheEpicBigBoss yes it's a good idea we will keep the historical data, especially for machine learning that could use the data set to predict a stock removal or delisting.

[2020-02-25 22:54] muziofg opened #24 "incoherency on data about EPS in endpoints"
Example: AMD

eps (the sum of last four, I think) reported here are updated (I think): https://financialmodelingprep.com/api/v3/quote/AMD
eps reported here not: https://financialmodelingprep.com/api/v3.1/financials/income-statement/AMD?period=quarter

[2020-02-26 14:31] antoinevulcain commented on #24
Good point, one come from the SEC us-gaap the other is calculated, will look into it. thanks for pointing this out!

[2020-03-01 21:32] antoinevulcain commented on #5
@giotiskl it is fixed for free cash flow

[2020-03-02 19:44] antoinevulcain commented on #21
So It's been a week I'm on it and I think it is finally ready, it has been really difficult but it is tested and working:

For 1min:

https://financialmodelingprep.com/api/v3/historical-chart/1min/AAPL

for 5 min:

https://financialmodelingprep.com/api/v3/historical-chart/5min/AAPL

for 15 min:

https://financialmodelingprep.com/api/v3/historical-chart/15min/AAPL

for 30 min:

https://financialmod

[2020-03-02 19:51] tarkah commented on #21
Thanks, @antoinevulcain ! This is awesome. I'll let you know if I notice any issues.

[2020-03-02 23:03] tarkah commented on #21
Are the dates returned starting or ending? For example, using:

https://financialmodelingprep.com/api/v3/historical-chart/15min/SPY

- First record is `2020-03-02 15:45:00`
  - 15:45 - 16:00 or 15:30 - 15:45?

Last record is `2020-03-02 09:45:00`
  - 09:30 - 09:45 or 09:45 - 10:00?

Depending on which, it would seem there is either a record missing on the front or end of the day.

[2020-03-02 23:05] tarkah commented on #21
A few minutes ago, this endpoint used to go back to ~`10:31:00` however now it only goes back to `11:31:00`

https://financialmodelingprep.com/api/v3/historical-chart/1min/SPY

[2020-03-02 23:08] antoinevulcain commented on #21
So basically It is missing the 9:30 and the 16:00 it is because of some condition that I had I just changed. Because technically the market closed at 16hr so it was < 16 but we need the 16:00 so I just added a condition for this, same for the 9:30

[2020-03-02 23:10] antoinevulcain commented on #21
So now it looks like this :
boolean isBeforeEvening = (hour < 16) || (hour == 16 && minute <= 1);
boolean isMorning = (hour == 9 && minute >= 29) || hour > 9;

I think it will work

[2020-03-02 23:12] antoinevulcain commented on #21
I'm looking now for this to see what happened:
` A few minutes ago, this endpoint used to go back to ~10:31:00 however now it only goes back to 11:31:00`

[2020-03-02 23:13] tarkah commented on #21
Makes sense, looks like that'll work. Thanks!

[2020-03-02 23:30] antoinevulcain commented on #21
I'm not sure about the second issue here is an example for the one minute data:

DELETE FROM history_tracker_one_minute_entity WHERE DATE IN (SELECT DATE FROM (SELECT *, ROW_NUMBER() OVER (ORDER BY DATE DESC) FROM history_tracker_one_minute_entity WHERE symbol = 'AAPL') AS SUB WHERE SUB.row_number > 390)

You can see that I pull the data only if the limit goes over 390 then I delete it, maybe beca

[2020-03-02 23:44] tarkah commented on #21
In your SQL statement, you aren't filtering the DELETE statement on symbol. I assume this runs for each symbol? So when it's running for BTCUSD, for example, the top 390 dates are live since that is 24 hours, then it's deleting out ALL entries with dates past that top 390, not just for BTCUSD.

[2020-03-02 23:45] tarkah commented on #21
I'd imagine the you'd only need to have two purge jobs, instead of one for each symbol. One that runs on symbol w/ market hours, one on symbols with live data?

[2020-03-02 23:47] antoinevulcain commented on #21
I do the filtering like this:

String symbolStr = "AAPL";
if (isCrypto(exchange)) {
	symbolStr = "BTCUSD";
} else if (isForex(exchange)) {
	symbolStr = "EURUSD";
} else if (isEURONEXT(exchange)) {
	symbolStr = "EDF.PA";
}

historyTrackerOneMinuteEntityRepository.purgeRecord(symbolStr, totalOneMinute);
historyTrackerFiveMinuteEntityRepository.purgeRecord(symbolStr, totalFiveMinute);
historyTrackerF

[2020-03-02 23:48] antoinevulcain commented on #21
and by default it is NYSE/nasdaq exchange

[2020-03-02 23:49] antoinevulcain commented on #21
private static final int totalOneMinute = 390;
	private static final int totalFiveMinute = 390;
	private static final int totalFiftheenMinute = 130;
	private static final int totalThirtyMinute = 130;
	private static final int totalHour = 130;

[2020-03-02 23:52] antoinevulcain commented on #21
Where symbol is :
List<String> symbols = symbols.stream().skip(skip).limit(limit).collect(Collectors.toList());
And exchange:
String exchange;
possible value: FOREX | NYSE | CRYPTO | EURONEXT

and my checking for the exchanges:

private boolean isCrypto(String exchange) {
	return exchange.equals("CRYPTO");
}

private boolean isForex(String exchange) {
	return exchange.equals("FOREX");
}

private b

[2020-03-02 23:54] tarkah commented on #21
Shouldn't the DELETE statement have a filter on `exchange` then? Something like the following:

[code]

[2020-03-03 00:01] antoinevulcain commented on #21
I could but It is multi-Thread, it cannot access other exchanges so basically I don't have exchange in the database, it runs separately on each thread:

[code]
[code]

[2020-03-03 00:03] tarkah commented on #21
https://financialmodelingprep.com/api/v3/historical-chart/1min/SPY lost the last hour again, this has to be because when run on CRYPTO / BTCUSD, that date list is deleting records for ALL symbols, not just CRYPTO symbols

[2020-03-03 00:04] antoinevulcain commented on #21
ok so it that I'm changing that

[2020-03-03 00:12] antoinevulcain commented on #21
ohhhhh yes

[code]

this is wrong I'm deleting all symbol I need to add the list of symbols! my bad!

[2020-03-03 00:14] tarkah commented on #21
Yup! Hopefully a simple fix

[2020-03-03 01:44] antoinevulcain commented on #21
Okay so now everything has been updated :

It should work now I'm passing the stock lists so it will only delete if it is in the list,

The hard part was the @Modifying @Transactional that I had to add, I didn't know that JPA cannot handle delete with two AND conditions by itself this is why it took so long. I learned something new tonight. Let's see if it works.

But now everything should work an

[2020-03-03 01:52] tarkah commented on #21
Awesome! Looks like it'll work. Thanks so much for putting this together!

I've posted my app, link below. It's pretty much done, I'll publish a release in the next few days with a binary so you can try it out.

[](https://github.com/tarkah/tickrs)

[2020-03-03 01:55] antoinevulcain commented on #21
Awesome 👍

I'll try it out with pleasure :)

[2020-03-03 14:31] antoinevulcain commented on #21
YES!!!
[ {
  "date" : "2020-03-03 09:30:00",
  "open" : 298.810000000000,
  "low" : 298.810000000000,
  "high" : 298.810000000000,
  "close" : 298.810000000000,
  "volume" : 83324920
},]

We got this one!!

Let's wait for the 16:30

[2020-03-03 14:48] tarkah commented on #21
Looking good!

[2020-03-03 17:48] tarkah commented on #21
The minute data is looking great in my app, I published an alpha release that you can download at the following. There are binaries that should work out of the box on any system:

https://github.com/tarkah/tickrs/releases/tag/v0.1.0-alpha.1

If windows, use with powershell.

[2020-03-03 19:58] tarkah commented on #21
It appears the following symbol is not getting purged:

https://financialmodelingprep.com/api/v3/historical-chart/1min/SPY

vs AAPL that is:

https://financialmodelingprep.com/api/v3/historical-chart/1min/AAPL

[2020-03-03 20:26] antoinevulcain commented on #21
looking into it now

[2020-03-03 20:39] antoinevulcain commented on #21
<img width="1677" alt="Screen Shot 2020-03-03 at 9 37 29 PM" src="https://user-images.githubusercontent.com/15164400/75817439-5f632780-5d97-11ea-939d-78c6004dcdc6.png">

[2020-03-03 20:43] tarkah commented on #21
Thanks! Looks like you're on Mac? Looks like there are some issues with rendering, like the black areas

[2020-03-03 20:49] antoinevulcain commented on #21
Yes I have mac. Yes. it would be great if there was a price line with the actual price and also the mouse would be a cursor with horizontal and vertical line to see the price

[2020-03-03 20:57] antoinevulcain commented on #21
Something like that would be amazing!

<img width="1311" alt="Screen Shot 2020-03-03 at 9 57 09 PM" src="https://user-images.githubusercontent.com/15164400/75818885-f335f300-5d99-11ea-836c-4eba0839bf13.png">

[2020-03-03 21:01] tarkah commented on #21
That would be really cool! I think doable, too. But definitely a big lift to do. I'll keep this in mind for a feature enhancement!

[2020-03-03 21:25] antoinevulcain commented on #21
Nice I think when it's done we could publish it on all the store and feature it on the website for people to use it.

[2020-03-03 21:29] antoinevulcain commented on #21
So I see there is still :

{
  "date" : "2020-03-03 16:01:00",
  "open" : 185.790000000000,
  "low" : 185.790000000000,
  "high" : 185.890000000000,
  "close" : 185.890000000000,
  "volume" : 24734536
},

which mean the condition is not good:

boolean isBeforeEvening = (hour < 16) || (hour == 16 && minute <= 1);

I'm trying this:

boolean isBeforeEvening = (hour < 16) || (hour == 16 && minute < 1)

[2020-03-04 07:15] coffincw opened #25 "Add aftermarket data to 1/5/15/30min/1hr historical stock prices"
It would be really useful to have the aftermarket data for stocks

[2020-03-04 10:18] antoinevulcain commented on #25
@coffincw Sure could you be more specific, for aftermarket data from what hour to what hour, which exchange what data frame, could explain everything, them I'll implement them

[2020-03-04 14:57] coffincw commented on #25
@antoinevulcain I appreciate you responding!

Aftermarket and premarket data is handled by Electronic Communication Networks (ECN's) instead of exchanges (so this might be an issue)  Post-Market trading occurs between 4 pm and 8 pm while pre-market extends from 8 pm to the next days opening at 9:30 am.

NASDAQ after-hours quotes: https://www.nasdaq.com/market-activity/after-hours

Honestly, I can'

[2020-03-04 15:10] antoinevulcain commented on #25
Everything is possible ;) I'll have a look at it, I'll make it happens 👍

[2020-03-04 16:07] coffincw commented on #25
Awesome! Let me know when you have updates!

[2020-03-05 00:17] antoinevulcain commented on #21
Ok so today it worked 🎉

[ {
  "date" : "2020-03-04 16:00:00",
  "open" : 302.910000000000,
  "low" : 302.640000000000,
  "high" : 303.020000000000,
  "close" : 303.020000000000,
  "volume" : 50355700
},

It seems to be good now, thanks again for the help and seeing the deletion problem on the DB side for the list @tarkah

Let's keep an eye on it and see how it goes

[2020-03-05 00:18] tarkah commented on #21
Yup, thanks!

It looks like old records aren't being purged for non-AAPL symbols. See:

https://financialmodelingprep.com/api/v3/historical-chart/1min/SPY

[2020-03-05 00:20] antoinevulcain commented on #21
ha yes that's right I look at it now

[2020-03-05 01:17] antoinevulcain commented on #21
Ok so I found the issue basically I have to also pass the first symbol of the list instead of only setting AAPL for the stockMarket I will now take the first symbol of each list(1000 stocks) of each Thread to purge so it will take place tomorrow when the market open but I tested locally with test data and it worked  you can see the added else condition with the Optional  when I change the symbolSt

[2020-03-05 06:12] coffincw opened #26 "Issue with volume value for Oct 31st 2019 data"
The volume value for 10/31/2019 is 100x the actual value on that day (and also slightly off the actual volume). This applies to at least every stock using the `historical-price-full` endpoint, I haven't tested with market indexes, crypto, or anything else.

**Example - Using DIS stock ticker**
Request: https://financialmodelingprep.com/api/v3/historical-price-full/dis?timeseries=100

*October 31st

[2020-03-05 12:34] antoinevulcain commented on #26
@coffincw Yes you right thanks for pointing this out, I'll correct that asap

[2020-03-05 21:53] tarkah commented on #21
There is an interesting gap in data today on:

https://financialmodelingprep.com/api/v3/historical-chart/1min/SPY

Datapoints are missing between these two times:

- 2020-03-05 10:48:00
- 2020-03-05 09:58:00

[2020-03-06 00:40] antoinevulcain commented on #21
@tarkah yes so basically I relaunched the sever at 10:48:00 because of a JPA error the deletion was so huge that it dropped the connection .

So i modify the DB to be able to handle it and restarted it at 10:48:00

I added a whole pool db management system to handle this kind of event:

here is all the implementation:

https://www.mchange.com/projects/c3p0/

It was interesting to learn that spring

[2020-03-06 00:52] tarkah commented on #21
Awesome! Looks like you uncovered some best practices and made it that much better throughout this :)

[2020-03-06 00:55] antoinevulcain commented on #21
Yes, it was great knowledge, thanks to all this blogs :)

Let's monitor this. can't wait to see if it will the final touch :)

[2020-03-09 20:07] tarkah commented on #21
One last item... Seems like 09:30 gets cut off, I think we need to up it to 391 data points:

https://financialmodelingprep.com/api/v3/historical-chart/1min/SPY

[2020-03-09 20:09] antoinevulcain commented on #21
@tarkah Yes right I will do this asap

[2020-03-10 00:05] zkghost opened #27 "Historical Intra-Day Prices?"
Hey there,

Just found your service, looks very promising! I have played with a couple of the historical price APIs, I was wondering: Is it possible to get historical data older than the current day? Ie can I get 1-minute charts from now till a week ago? or for a week that happened a month ago, etc?

[2020-03-10 12:55] antoinevulcain commented on #27
Hey @zkghost ,

Sure could you list exactly what you need:
i.e :
1min -> 1000 data points

....

1hour -> x data points

So I can start working on it

[2020-03-10 13:43] zkghost commented on #27
Sure, more a question than a request but :) if you are willing to add it that's awesome.

Most services like this either allow you to specify start and end epoch timestamps, and return all records that occur between those timestamps. Something like:

[code]

I am interested in specifying start/end timestamps (ideally supporting a range long enough to make bulk collection feasible, weeks or months

[2020-03-10 22:25] TheEpicBigBoss opened #28 "Stock Price difference API and NASDAQ"
Hi,
I noticed that the stock price from your API is different from some endpoints and different from the Nasdaq website or other endpoints that access Nasdaq.

For example symbol: CBSHP
(all values from about 6pm New York Time so 2 hours after market closed. (23:00 in Europe)

https://financialmodelingprep.com/api/v3/company/stock/list     price: 25,35$ correct

https://financialmodelingprep.com/a

[2020-03-10 22:32] antoinevulcain commented on #28
if you use this endpoint:

https://financialmodelingprep.com/api/v3/quote/CBSHP

You will have the good value, I'm checking now for the other endpoints

[2020-03-10 22:52] antoinevulcain commented on #28
Ok I found the issue:

https://financialmodelingprep.com/api/v3/company/stock/list gets updated with the same statement as https://financialmodelingprep.com/api/v3/quote/CBSHP which includes a condition very tricky explained here:

https://github.com/antoinevulcain/Financial-Modeling-Prep-API/issues/27

which check if the market is open and must have not catch the millisecond where it went to 16:0

[2020-03-10 23:10] TheEpicBigBoss commented on #28
Ok thats good.
Then I will mainly use the Quote endpoint / or use the price from the company stock list.

On the other endpoints I will keep an eye on it and let you know if this issue still remains.
Thanks for working on it and the fast response.
(A little bit off-topic but will this API still remain free? Little worried because you launched fmpcloud.io with only limited free api calls or paid op

[2020-03-10 23:32] antoinevulcain commented on #28
Perfect. sounds good.

No worries I'm always working on making this API better.

Yes this API **will remain free and actively maintain by us**.

We have decided to launched https://fmpcloud.io/ due to a lot of custom demand such as RSS feed, 13-F, and for response quality (i.e you can see for financial statement that the response is more structured and have more fields), but we made it accessible

[2020-03-11 14:04] kennethkichan opened #29 "Key metrics not up-to-date"
Hi there,

Noticed that 2019-12-31 data has not been updated for the following APIs
https://financialmodelingprep.com/api/v3/company-key-metrics/FB
https://financialmodelingprep.com/api/v3/financial-statement-growth/FB

Thank you for the API, very good to use

[2020-03-11 15:03] TarjinderSingh commented on #29
Also, the historical prices https://financialmodelingprep.com/api/v3/historical-chart/1min/%5EGSPC for indices are also not updated since yesterday.

[2020-03-11 15:20] antoinevulcain commented on #29
@TarjinderSingh It's running again for the history I had to make some changes for #28 and #27 I add 400 data endpoint to cover the full day. It will work now.

@kennethkichan Yes for this two endpoint we are on it, we are making it very much cleaner I think by the end of the week it should be ready on both APIs.

[2020-03-11 16:06] tarkah commented on #21
I assume something got changed, as there is a gap in today's data?

[2020-03-11 16:08] antoinevulcain commented on #21
@tarkah Yes I implemented this:

private static final int totalOneMinute = 400;
private static final int totalFiveMinute = 400;

So we will have the beginning of the day:

[2020-03-11 16:09] antoinevulcain commented on #21
Should I just put :

private static final int totalOneMinute = 391;
private static final int totalFiveMinute = 391;

?

[2020-03-11 16:12] tarkah commented on #21
Eh, a little bit of wiggle room is fine :)

[2020-03-11 16:13] antoinevulcain commented on #21
This is what I thought ;)

[2020-03-11 16:14] TarjinderSingh commented on #29
@antoinevulcain that's great - thanks so much!

[2020-03-11 22:15] antoinevulcain commented on #21
So now https://financialmodelingprep.com/api/v3/historical-chart/1min/AAPL has 401 data point so we should be good.

I'm testing one last thing with JPA pooling to see how the DB handles it with c3p0

let's see tomorrow without the gap how it goes but from now on it should all good.

[2020-03-11 22:52] tarkah commented on #21
Awesome! Thanks again for all the work here!

[2020-03-12 11:49] piacimosca opened #30 "forex / currencies"
hello there, great api!

do you plan adding more currencies to forex calls?
right now I don't see that many supported.

thanks.

[2020-03-12 14:22] kennethkichan commented on #29
Thanks for the update, appreciate it!

[2020-03-12 14:22] #29 closed

[2020-03-12 23:20] antoinevulcain commented on #30
Thanks! Sure can you provide a list of the one that you would like to have?

[2020-03-12 23:48] piacimosca commented on #30
well, I was hoping to get an almost full currency list cover not only a few selected.
I'd use it this call to show the daily changes in diagrams:

https://financialmodelingprep.com/api/v3/historical-chart/15min/JPYUSD

also, I'm not sure in what timezone these values are. right now at 0:45 CET, the last timestamp is 19:45

[2020-03-12 23:52] antoinevulcain commented on #30
We use Time zone in New York, NY (GMT-4)

here is the available forex list:

https://financialmodelingprep.com/api/v3/symbol/available-forex-currency-pairs

[2020-03-12 23:58] piacimosca commented on #30
I see. for some reason I was expecting UTC.
I'm aware of the available list but I find it really short, hence the opening question.
main currencies only, no south american, almost nothing from asia, etc.

[2020-03-13 00:00] antoinevulcain commented on #30
South American and Asia is something that I have to look into. I will see what I can do, but definitely doable.

[2020-03-13 00:05] piacimosca commented on #30
thanks.
including as many as possible would make the forex api standing out.
I mean, only in europe there are 20+ currencies.

[2020-03-13 14:02] antoinevulcain commented on #21
@tarkah seems to work for now, lets continue to monitor it but I don't see any issue anymore, let mw know if you see something on your side

[2020-03-13 14:05] tarkah commented on #21
Yup, I think it's looking good. Thanks!

[2020-03-14 16:53] shankarhpatel commented on #4
Hi, need to know if BSE and NSE indexes from the Indian stock markets are covered or not and how to access them?

[2020-03-16 01:36] antoinevulcain commented on #4
hi @shankarhpatel https://www.bseindia.com/markets.html and https://www.nseindia.com/ are not currently covered, we are currently adding https://www.londonstockexchange.com/home/homepage.htm  and Australian stock exchange, as soon as soon as we are done  we will add them. I will keep you updated.

[2020-03-20 11:33] piacimosca opened #31 "ticker search/list extra exchange info"
since this api is growing and more stock markets are added, would it be possible to add market opening, closing hours and timezone to the search results?

[2020-03-20 12:07] antoinevulcain commented on #31
Great idea I like it!

[2020-03-24 15:22] kennethkichan opened #32 "Growth figures seem overestimated"
I noticed some of the growth rates look exceptionally large, did anything change?
https://financialmodelingprep.com/api/v3/financial-statement-growth/fb
https://financialmodelingprep.com/api/v3/financial-statement-growth/tsla

[2020-03-24 15:24] antoinevulcain commented on #32
which field?

[2020-03-24 15:25] antoinevulcain commented on #32
@kennethkichan yes we updated all key metrics financial growth ratios they are now up to date

[2020-03-24 15:27] kennethkichan commented on #32
Please see below, seem they exceed 100% and in some cases 20000%
Revenue Growth (per Share)
Operating CF Growth (per Share)
Shareholders Equity Growth (per Share)
Net Income Growth (per Share)
Example, https://financialmodelingprep.com/api/v3/financial-statement-growth/fb

[2020-03-24 15:32] antoinevulcain commented on #32
for the 10Yr/3Yr for example?

10yr -> (70697000000.0 - 777000000.0) / 70697000000.0 = 0.98900 right?

[2020-03-24 15:36] antoinevulcain commented on #32
So yes there is a problem since we are showing 8.76439847243

[2020-03-24 15:38] kennethkichan commented on #32
No worries, please let us know when it's updated! Thank you for providing an excellent API, i'm a frequent user!

[2020-03-24 15:41] antoinevulcain commented on #32
Sure! thanks for letting me know 👍

[2020-03-24 16:10] antoinevulcain commented on #32
Ok so I get it:

Here is the calculation it is a growth per share:

it is (revenue 2019 / number of share 2019) - (revenue 2009 / number of share 2009) / (revenue 2009 / number of share 2009)

this is why you get this kind of number: example AAPL:

10yr Revenue ->

((260174000000 / 4648913000) - (65225000000 / 924712000)) / (65225000000 /924712000)

-> (55.96 - 70.54) / 70.54

-> -0.2066

This is

[2020-03-24 16:17] kennethkichan commented on #32
Right, i get you because it is per share.

Would you be adding a compound growth figure in the near future?

[2020-03-24 16:31] antoinevulcain commented on #32
Yes that’s definitely something doable.

[2020-03-29 22:19] TheEpicBigBoss opened #33 "Corrupted stock historical data"
Hi,
I noticed some corrupted data in the historical api.
For example stock symbol: EMP
https://financialmodelingprep.com/api/v3/historical-price-full/EMP?serietype=line

Looks like this:
![EMP](https://user-images.githubusercontent.com/23483481/77862387-59882700-721b-11ea-9957-ce31bc073a34.PNG)

I was wondering how you get all the data from NYSE / Nasdaq.
Do you have direct access through an api o

[2020-03-29 22:32] TheEpicBigBoss commented on #21
It looks like that the volume is incorrect.
https://financialmodelingprep.com/api/v3/historical-chart/1min/CBSHP

When a new minute gets add to the list you take over old values (open, close...) if there has nothing changed. But the volume should be set to 0 if there where no trades. Because otherwise it is not possible to calculate te total volume of the day.

[2020-03-29 22:34] antoinevulcain commented on #33
@TheEpicBigBoss I'm on it

[2020-03-29 22:45] antoinevulcain commented on #21
@TheEpicBigBoss Ha ok I get you yes because what we do is:

historyTrackerEntity.setVolume(volume);

which represent the volume of the entity at time t without taking into consideration to last volume.

So you mean It should start the day at 0.

then volume = volume.

then volume t1 = volume t1 - volume t0

etc.. to only keep the marginal volume change right?

[2020-03-29 22:54] TheEpicBigBoss commented on #21
Yes exactly.
I think it would be more usefull to have the volume change.
So it represents how much was actually traded in each 1/5/15.. time period.

[2020-03-29 22:55] antoinevulcain commented on #21
I got it. I'll take take of it.

[2020-03-30 10:44] muziofg opened #34 "clarify relation between these free api and fmpcloud.io"
Recently, when looking on documentation page, I have see an advice for the new pro API service on fmpcloud.io
I see that the new API is almost the same available for free on the original website, so my question are:
What are the relations between these services?
Free API (without apikey) will be available in the future?

I wrote this because I'm using your free API endpoints for personal use, but

[2020-03-31 15:05] galeriendu93 opened #35 "what about kazakhstan stock"
I was wondering if you plan to add kazakhstan stock on your new api fmpcloud.io? I would be ready to pay the rocket plan for that

[2020-03-31 15:50] #35 closed

[2020-04-06 23:52] umerhasan17 commented on #12
Wonder if I could contribute to this? @antoinevulcain

[2020-04-11 18:06] victor-david opened #38 "Link error in README.md"
Sample in README.md says:

Link doesn't work, gives: _Whitelabel Error Page_. Note that "forex" and "v3" are reversed. Should be:

https://financialmodelingprep.com/api/v3/forex/EURUSD

[2020-04-11 18:10] antoinevulcain commented on #38
Thanks! corrected appreciate :)

[2020-04-11 18:10] #38 closed

[2020-04-13 18:38] antoinevulcain commented on #30
@piacimosca

added:

USDZAR
EURZAR
NZDZAR
JPYZAR
GBPZAR
CADZAR
TWDZAR
AUDZAR

[2020-04-13 18:44] #28 closed

[2020-04-13 18:45] antoinevulcain commented on #28
-> Quote endpoint as new reference

[2020-04-14 19:56] victor-david opened #39 "Historical Market Index change calculation"
Hi and thanks for the API. Using, for example:
https://financialmodelingprep.com/api/v3/historical-price-full/index/%5EAXJO

returns:
[code]
Aren't the change (and changePercent) values incorrect, i.e reversed? The index went up 180.3999, not down. It seems that change = close - open, not open - close

Of course, it's easy to perform my own calculations from the open and close values, but thought

[2020-04-14 20:12] antoinevulcain commented on #39
@victor-david in 1 minute could you check the value?

[2020-04-14 20:16] antoinevulcain commented on #39
@victor-david here I corrected the value you were right it was  open - close now it is close - open:

<img width="338" alt="Screen Shot 2020-04-14 at 10 15 21 PM" src="https://user-images.githubusercontent.com/15164400/79269907-779d8a80-7e9d-11ea-9249-5139013edd05.png">

[2020-04-14 20:21] victor-david commented on #39
Yes, I see the positive values now when the index goes up. Many thanks!

[2020-04-14 20:22] antoinevulcain commented on #39
Great 👍

[2020-04-14 20:22] #39 closed

[2020-04-15 19:22] highsmallxu opened #40 "What is the real meaning of 0?"
Hi,

Thanks for providing this API. I'm wondering that in the financials API, like this one https://fmpcloud.io/api/v3/income-statement/MA?apikey=<KEY>

You see a couple of 0 in the response. So do they really mean 0 or the data is missing/not existing in the original report?

[code]
Like this example, I would expect the grossProfit is 14950000000.

Hope my issue is clear.

Thanks

[2020-04-15 20:51] antoinevulcain commented on #40
Hi,

This is right the 0 means that the data does not exist in the original report:

MA (Mastercard Inc) does not report its cost of revenue so this why you can see 0 for cost for costOfRevenue:

https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=0001141391&type=10-K&dateb=&owner=exclude&count=40 you can look at the first report and see that it has only revenue as opposed to:

https://

[2020-04-15 21:18] highsmallxu commented on #40
Thank you so much for your quick response & quick action.

Keep your good work! 👍

[2020-04-16 14:03] antoinevulcain commented on #40
Hi,

Quick update we have run all the script and you can see all the value for grossProfit of MA now :

[code]

[2020-04-16 17:20] highsmallxu commented on #40
Thanks!

[2020-04-16 18:37] #40 closed

[2020-04-16 18:40] #23 closed

[2020-04-16 18:41] #20 closed

[2020-04-18 19:36] victor-david opened #41 "Timestamp on market index quotes"
Hi Antoine,
https://financialmodelingprep.com/api/v3/quote/%5EDJI
https://financialmodelingprep.com/api/v3/quotes/index

return timestamp values that are simply the current time. I think it would be better if the timestamp was the time the data was collected. For instance, right now, the timestamp shows a date/time when the market is closed. It doesn't add any value because it's only a current tim

[2020-04-18 20:05] antoinevulcain commented on #41
@victor-david  Yes makes sense working on it

[2020-04-24 10:32] legout opened #42 "Close and Adjusted Close is identical and adding endpoints for dividends and splits to documentation"
Hello,

stock splits and dividends are available:

[https://financialmodelingprep.com/api/v3/historical-price-full/stock_dividend/AAPL]()

[https://financialmodelingprep.com/api/v3/historical-price-full/stock_split/AAPL]()

So, historical price data could be adjusted for dividends and splits. However, as far as I can see,  historical close and adjClose data are identical.

Regards,
legout

[2020-04-24 10:52] antoinevulcain commented on #42
@legout can you give precise (date, calcul, display) for my end to do to it

[2020-04-24 16:14] legout commented on #42
I am sorry, tested it again and now everything is fine.
I've tested it yesterday, and I was sure, that close and adjust close was the same. I'm sorry.

However, one "issue" remains. I have compared your data to the data from yahoo finance. Your adjusted close is not identical to the one from yahoo finance, whereas close, open, high and low are identical.

**IBM**
![bokeh_plot-7](https://user-image

[2020-04-24 16:32] antoinevulcain commented on #42
@legout Great happy to hear that!

the spike for the volume I'm checking now seems to be about October 2019 on the chart

[2020-04-24 16:36] legout commented on #42
Yes. It's on 31 October 2019. I saw this spike for AAPL, MSFT, GOOGL, IBM, MMM, ...
Maybe for every US stock?

[2020-04-24 16:42] antoinevulcain commented on #42
can you try now?

[2020-04-24 16:42] antoinevulcain commented on #42
just for IBM

[2020-04-24 16:47] antoinevulcain commented on #26
@coffincw Should be fixed now

[2020-04-24 16:54] legout commented on #42
Looks good for **IBM**

[https://financialmodelingprep.com/api/v3/historical-price-full/IBM?from=2019-10-30&to=2019-11-02](https://financialmodelingprep.com/api/v3/historical-price-full/IBM?from=2019-10-30&to=2019-11-02)

[code]

Not so for **AAPL**
[https://financialmodelingprep.com/api/v3/historical-price-full/AAPL?from=2019-10-30&to=2019-11-02]()

[code]

[2020-04-24 17:15] antoinevulcain commented on #42
@legout Yes I was just testing for IBM first to confirm it can be done

So I can do it for every stock I need to prepare a script and launch it.

[2020-04-26 14:39] antoinevulcain commented on #42
@legout

Should be fixed

[2020-04-26 14:40] #26 closed

[2020-04-27 23:14] #42 closed

[2020-04-28 17:50] hanuor opened #43 "Time format in - "Stock Historical Price 1/5/15 etc minute historical stock prices with volume""
Hi,
I'd like to know that the time the API returns is the UTC time?
I surfed through the docs but couldn't find any information on this.
API - https://financialmodelingprep.com/api/v3/historical-chart/5min/AAPL
Sample response -
{
"date": "2020-04-28 13:45:00",
"open": 280.28,
"low": 280.27,
"high": 281.07,
"close": 281.02,
"volume": 17771578
}

The date here is in UTC or GMT?

[2020-04-28 20:46] antoinevulcain commented on #43
Hi @hanuor
It is:
calNewYork.setTimeZone(TimeZone.getTimeZone("America/New_York"));

-> UTC-4

[2020-04-29 03:27] hanuor commented on #43
Perfect. Thanks @antoinevulcain :)

[2020-04-29 13:42] hanuor commented on #43
Hi @antoinevulcain,

I checked the data I was getting by hitting the API above with TradingView and Finnhub.
It seems that the API is returning wrong open/close/high/low data points.

I crosschecked this with AAPL, TSLA, AMZN and the data was incorrect.
Any specific reason for this? Can you please check it from your end?

Thanks!

[2020-04-29 14:12] antoinevulcain commented on #43
Code of conduct :
Publishing others' private information, such as a physical or electronic address, without explicit permission

[2020-04-29 14:12] #43 closed

[2020-04-29 16:08] hanuor commented on #43
Hi @antoinevulcain
Wanted to check why you've closed the issue and added that comment?
I didn't share any private information?
Thanks!

[2020-04-29 16:16] antoinevulcain commented on #43
@hanuor just for future comment please:

[2020-04-29 16:17] hanuor commented on #43
Okay. No worries.
Can you please check and confirm if there's a mismatch in the numbers?
Let me know if I can help in anyway.

[2020-04-29 16:18] antoinevulcain commented on #43
@hanuor just for future comment

`Copyright protection does not extend to titles, names, slogans or short phrases, the Copyright Office has made that much very clear. You can not copyright your name, the title of your post or any short phrase that you use to identify a work.
`

So I am relaunching the server and watching  the value , I am also looking at the sync I will update this as soon as I fi

[2020-04-29 16:19] hanuor commented on #43
Perfect. Thanks a lot, @antoinevulcain . Apologies for the above error that I made.

[2020-04-29 19:00] antoinevulcain commented on #43
@hanuor can you make a quick check?

[2020-04-30 03:11] hanuor commented on #43
Sure. Checking

[2020-04-30 03:33] hanuor commented on #43
Just checked. The issue is still there.
Can send you screenshots if it helps @antoinevulcain

[2020-04-30 08:54] antoinevulcain commented on #43
Yes please can you send me attach a screen shoot I’ll analyse it and make sure to correct it

[2020-04-30 16:51] victor-david opened #44 "Historical market index not updating"
The historical market index price isn't updating, at least for certain symbols. For instance, as of today (April 30, 2020):

https://financialmodelingprep.com/api/v3/historical-price-full/index/%5EGSPC

reports historical up to April 29. All is well. But Dow Jones:

https://financialmodelingprep.com/api/v3/historical-price-full/index/%5EDJI

reports only up to April 27. If you use the hourly for D

[2020-04-30 16:56] hanuor commented on #43
Below is the image of the chart I'm using.
![Screenshot from 2020-04-30 22-21-51](https://user-images.githubusercontent.com/11363676/80737488-38c03380-8b31-11ea-8acc-75f52d99016c.png)

Below is the image of another API from where I'm comparing the data. (Check the 1st row)
Format is -> DATE OPEN CLOSE
![Screenshot from 2020-04-30 22-22-34](https://user-images.githubusercontent.com/11363676/8073756

[2020-04-30 17:02] antoinevulcain commented on #44
@victor-david  Yes you are right for Dow Jones can you check now?

[2020-04-30 19:14] victor-david commented on #44
It is indeed working again. Getting historical-price-full for Dow Jones through yesterday, April 29.

Thanks a lot!

[2020-04-30 19:16] antoinevulcain commented on #44
Pleasure let me know as soon as you see something not accurate thanks again!

[2020-05-01 16:25] hanuor commented on #43
Hi @antoinevulcain .
Any updates or alternatives to this?

[2020-05-01 16:35] antoinevulcain commented on #43
@hanuor I'm highly into this since yesterday I will update you as soon as I find the issue but I start to find some potential reason such has issue i.e https://mkyong.com/hibernate/how-to-configure-the-c3p0-connection-pool-in-hibernate/

[2020-05-01 16:47] hanuor commented on #43
Okay. Thanks for the update. Let me know whenever you find something interesting or need any help.
@antoinevulcain

[2020-05-02 18:42] #44 closed

[2020-05-03 18:52] victor-david opened #45 "Market Index Historical Price - Inconsistent JSON"
Long post. I think it would be a good idea to return market index historical price info in a consistent manner. For example:

https://financialmodelingprep.com/api/v3/historical-price-full/index/^DJI

returns:
[code]

If you query more than one symbol:

https://financialmodelingprep.com/api/v3/historical-price-full/index/^DJI,^GSPC

you get a different JSON data structure (not just fewer fields, b

[2020-05-04 11:28] aviaplana opened #46 "api/v3/company/stock/list is returning a trunkated Json"
The endpoint ```api/v3/company/stock/list```is broken, the response is being truncated at line 14031

[2020-05-04 11:30] antoinevulcain commented on #46
@aviaplana yes I'm on it it's nginx

[2020-05-04 11:31] Skitionek opened #47 "API versioning"
It is extremely problematic that your **API is changing day by day**. Week ago I have corrected library to use it and today I was notified that it started crashing because you **again** modified data structure!

Diff of mentioned old vs new response (`historical_price_full/FB,GOOG`):
[code]
Please do introduce an **API versioning** or at least give developers some head start and time for adaptatio

[2020-05-04 11:34] antoinevulcain commented on #47
it is not supposed to have changed one second

[2020-05-04 11:36] antoinevulcain commented on #47
I'm fixing #46 then I look at this

[2020-05-04 11:37] aviaplana commented on #46
thanks mate!

[2020-05-04 11:49] antoinevulcain commented on #46
can you test?

[2020-05-04 11:51] Skitionek opened #48 ""Cache-Control" headers"
It would be nice if your endpoint could return "Cache-Control" headers. So your endpoint responses would most likely be cached correct amount of time by default.

[2020-05-04 12:43] antoinevulcain commented on #47
https://financialmodelingprep.com/api/v3/historical-price-full/AAPL,FB

[2020-05-04 12:44] antoinevulcain commented on #47
@Skitionek check now please

[2020-05-04 12:46] antoinevulcain commented on #46
@aviaplana

[2020-05-04 13:03] antoinevulcain commented on #48
I can't the caching us set at controller level:
i.e
@Cacheable("forex")

I can't intercept the response and set the Cache Control, Spring does it by itself

[2020-05-04 14:15] Skitionek commented on #47
Yes, it changed back. I would have hoped you have tests in place for this kind of issues.

Before you close this issue can you let me know what is your approach towards versioning? Should I open issue every time your API changes? Can I subscribe to any newsletter, changelog, be notified if things are about to change?

[2020-05-04 14:26] #48 closed

[2020-05-04 14:28] TheEpicBigBoss commented on #47
I think a version control would be a nice thing. Or maybe a known date, like every two weeks, where all the changes and fixes get applied.

Are you planning on uploading the source code of this Api here to Github? Then all the new changes an fixes would be visible in the pull request right before they get applied. This would help to prepare for changes. And I think a lot of people here would help

[2020-05-04 14:28] antoinevulcain commented on #47
I have tests it just because I have updated nginx and uploaded an old version by mistake but everything is tested with DTO it cannot happened.

So the DTO cannot change for any reason.

if the DTO change then the version change -> v4 / v3.1 / v3.2

[2020-05-04 14:33] antoinevulcain commented on #47
@TheEpicBigBoss I can't upload the code here, there is more than a billion request per day and many of them are just trying to hack / break the API (because it is free without limit) so it would be a breach of security to show the code even for a day on github

[2020-05-04 14:38] aviaplana commented on #46
working smoothly! Thanks for your work!

[2020-05-04 14:38] #46 closed

[2020-05-04 20:29] piacimosca opened #49 "Euronext historical data bugs?"
getting 5m historical data for:
OR.PA gives values in time range: 12:05 -> 15:40 (and no data between 12:50 and 15:05)
BIM.PA the range is: 09:05 -> 17:40 (and no data between 13:20 and 15:05)

to name a few. what seems to be true for all (or at least that many I've tried) euronext quotes, is that there is a data drop, and always seems to end at 15:05
time range varies but 12:05 -> 15:40 showed up

[2020-05-04 20:42] antoinevulcain commented on #49
Yes that's normal it's for all Euronext I did some settings with cp30 sorry about that
Will be all good and running by tomorrow

[2020-05-04 20:53] piacimosca commented on #49
oh, at least you don't have to investigate.
thanks!

[2020-05-04 20:55] antoinevulcain commented on #49
Yes that's rare this time :)

[2020-05-04 21:46] piacimosca commented on #49
is there something similar with other exchanges?

[lhttps://financialmodelingprep.com/api/v3/historical-chart/5min/AAPL](https://financialmodelingprep.com/api/v3/historical-chart/5min/AAPL)

may 4th starts at 9:30
may 1st at 9:40
april 30th at 9:45
april 29th at 9:30 again

[2020-05-04 22:43] antoinevulcain commented on #49
Yes this week has been a lot of implementations but now it is all set and ready. As time flys data will adjust

[2020-05-05 17:41] JoshuaR503 opened #50 "Majors Indexes endpoint is not showing the right data"
As of May 5 2020 at 10:40 AM, the Dow Jones Industrial Average is trading at around 24,000 points, Nasdaq at 8,880, and the S&P 500 at 2,890.

If I make a request to the endpoint `https://financialmodelingprep.com/api/v3/majors-indexes`, the response will be:
`{
      "ticker": ".DJI",
      "changes": 147.029,
      "price": 23775.3,
      "indexName": "Dow Jones"
    },
    {
      "ticker": ".I

[2020-05-05 17:43] antoinevulcain commented on #50
new endpoint : https://financialmodelingprep.com/api/v3/quotes/index

[2020-05-05 17:44] #47 closed

[2020-05-05 17:49] JoshuaR503 commented on #50
@antoinevulcain, thank you for your response. I just need to get the major american indexes. The endpoint you provided contains global indexes - that is great, but not what I was expecting.

[2020-05-05 17:56] antoinevulcain commented on #50
@JoshuaR503 It contains the majors us also Dow Jones Nasdaq S&P 500 you just need to filer,

also you can do that :

https://financialmodelingprep.com/api/v3/quote/%5EDJI,%5EGSPC,%5EIXIC

you now you have the major US index ;)

[2020-05-05 18:15] #50 closed

[2020-05-08 12:02] ianlim28 commented on #4
@antoinevulcain Would you guys be adding DAX into your DB? It would be good to have EU companies in there as well.

[2020-05-08 12:08] antoinevulcain commented on #4
@ianlim28 https://www.bundesanzeiger.de/ebanzwww/wexsservlet ?

[2020-05-08 12:17] ianlim28 commented on #4
do they provide an API for the public to query?

[2020-05-08 12:22] antoinevulcain commented on #4
yes I will investigate

[2020-05-08 12:23] ianlim28 commented on #4
legend, thanks a million!

[2020-05-09 07:35] legout opened #51 "Non-US Stock Fundamentals"
Hello,

are there any plans for adding fundamentals of stocks from  non-us markets ?

Regards,
Legout

[2020-05-09 14:06] antoinevulcain commented on #51
Hello, Yes so the roadmap is :

-> SEDAR
-> Company House
-> Bundesanzieger
-> nseindia

[2020-05-12 22:58] tarkah commented on #21
@antoinevulcain It's been a while. I wanted to get an update from you on how stable the intraday prices are? I'm not sure if you've done work recently that may have caused disruption, but check out the example for `AMD` at `15min`:

https://financialmodelingprep.com/api/v3/historical-chart/15min/AMD

It jumps from 5/1 to 5/5 to 5/11. However, compare that with SPY, which appears to be accurate:

h

[2020-05-13 12:23] antoinevulcain commented on #21
@tarkah Yes I'm been fixing some stuff with it lately.

But now everything should be normal from yesterday.

If you ever see anything wrong during this week ping me.

Thanks

[2020-05-13 13:19] yk11 opened #52 "Market index historical price - delayed availability"
I really like this API, so started using it to get my own stock data.

I noticed that US indices do not have yesterday's closing data until later in the day, while stocks are ready in the morning before markets open.

So while AAPL's last closing price as of today (May 13) is May 12, ^DJI's last closing price is for May 11.

[https://financialmodelingprep.com/api/v3/historical-price-full/index/%5E

[2020-05-13 13:58] antoinevulcain commented on #52
@yk11 Should be fixed

[2020-05-13 14:06] tarkah commented on #21
Perfect. Thanks so much again for work and responsiveness!

[2020-05-14 12:09] yk11 commented on #52
Confirmed as fixed.  Thanks!

[2020-05-14 12:10] #52 closed

[2020-05-15 18:10] legout commented on #51
Really awesome news! 👍

[2020-05-17 22:35] panossant commented on #33
Just wanted to add another data issue that I've found recently
https://financialmodelingprep.com/api/v3/company-key-metrics/tsm
"Dividend Yield" : "0.20655818012152005",
20% seems a bit high...
according to
https://www.nasdaq.com/market-activity/stocks/tsm
Current Yield | 2.58%

[2020-05-19 19:27] AlexFlasch opened #53 "30 min historical chart missing some 30 min intervals?"
Hi there,

Firstly, thank you for providing this API. It's so nice to play with this kind of data without needing to pay exorbitant amounts of money!

I'm not extremely well informed about the stock market, just toying around with some data. I'm not sure if this is intentional, but I noticed that the data at [this endpoint](https://financialmodelingprep.com/api/v3/historical-chart/30min/AAPL?from=